*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #162032;
    display: flex;
    justify-content: center;
}
.desk{
     display: flex;
     gap: 50px;
}
.mob{
    display: none;
}





#mainContainer{
    position: relative;
    width: 80%;
    height: 100%;
    /* background-color: green; */
}

nav{
    width: 100%;
    height: 60px;
    position: absolute;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
    background-color: #162032;
    gap: 50px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 800;
}

nav li a{
    color: #fff;
}

#navl{
    display: flex;
    gap: 50px;
}


#search input{
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}

#content{
    padding-top: 50px;
    margin-top: 40px;
    width: 100%;
    height: 95%;
    /* background-color: blue; */
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
    gap: 30px;
    scrollbar-width: none;
}

#card{
    width: 230px;
    height: 350px;
    /* background-color: pink; */
    border-radius: 4px;
}

#card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    width: 100%;
    height: 10%;
    background-color: #162032;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (max-width: 619px){
    #main{
        /* background-color:  red; */
        /* padding-bottom: 40px; */
    }
    #mainContainer{
        width: 100%;
        padding-bottom: 40px;
    }
    footer{
        display: none;
    }
    nav{
        height: 10%;
        position: absolute;
        bottom: 0;
        background-color: #162032;
        width: 100%;
        padding: 0;
        display: block;
        color: #fff;
        gap: 0;
    }

    #navl{
        height: 100%;
        width: 100%;
    }

   
    #navl .desk{
        display: none;
    }
    .mob{
        display: flex;
        gap: 50px;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .mob i{
        font-size: 25px;
    }

    #content{
        padding-top: 0;
    }


    #search{
        display: none;
    }
}