*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #162032;
    display: flex;
    justify-content: center;
}
.desk{
     display: flex;
     gap: 50px;
}
.mob{
    display: none;
}


#mainContainer{
    position: relative;
    width: 80%;
    height: 100%;
    /* background-color: green; */
}

nav{
    width: 100%;
    height: 60px;
    position: absolute;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
    background-color: #162032;
    gap: 50px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 800;
}

nav li a{
    color: #fff;
}

#navl{
    display: flex;
    gap: 50px;
}


#search input{
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}

#content{
    padding-top: 50px;
    margin-top: 40px;
    width: 100%;
    height: 95%;
    /* background-color: blue; */
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    /* align-items: center; */
    overflow-y: scroll;
    gap: 30px;
    scrollbar-width: none;
}

#card{
    width: 230px;
    height: 350px;
    /* background-color: pink; */
    border-radius: 4px;
    position: relative;
    cursor:pointer;
}

#card img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    

}

#card p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: hsl(0, 0%, 100%);
    font-size: 21px;
    width: 100%;
    text-align: center;
}

#card::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur;
    background-color: #0b0d1156;
    pointer-events: none;
}

footer{
    width: 100%;
    height: 10%;
    background-color: #162032;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nodisplay{
    display: none;
}

/* page 2 design */

#maino{
    width: 100%;
    height: 100%;
    background-color: #162032;
    display: flex;
    justify-content: center;
}

#all{
    width: 100%;
    height: 100%;
}

#videoContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

#video{
    width: 100%;
    height: 90%;
    position: relative;
}

#video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#videoContainer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#videoContainer::after{
    content: "";
    width: 100%;
    height: 90%;
    background: 
  linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent),
  linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#videocontent{
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 3;
}

#videocontent img{
    width: 500px;
}

#videocontent p{
    color: #fff;
    margin: 30px 0;
    width: 45%;
    line-height: 30px;
}

span{
    padding-right: 20px;
    font-size: 20px;
}

#p2{
    font-size: 18px;
    font-weight: 200;
}

.btn{
    font-size: 20px;
    width: 200px;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to left, blue, red);
}

#mutebtn{
    color: #fff;
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 5;
}

#line{
    width: 100%;
    height: 1px;
    background-color: #4e4e4e;
    margin-top: 50px;
}

.noflex{
    display: block;
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: #162032;
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

#seasons{
    margin-left: 30px;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

#seasons h4{
    font-size: 20px;
    color: #ccc;
    font-weight: 400;
}


#seasons:hover h4{
    cursor: pointer;
}



#episodes{
    width: 100%;
    max-height:700px ;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 50px;
}

#epicard{
    width: 80%;
    height: 250px;
    /* background-color: yellow; */
    margin: 30px;
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-start; */
    padding-left: 50px;
    gap: 40px;
}

#epiimg{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

#epiimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#epitext{
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 15px;
}

#epitext h4{
    font-size: 25px;
}

@media (max-width: 835px){

#maino{
    height: auto;
}
    #p2{
        display: none;
    }
   #videoContainer {
    height: auto;
    max-height: 80vh;

}
#video {
    height: auto;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#videoContainer::after{
    display: none;
}

   #video img, #videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#videocontent{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#videocontent img{
    width: 350px;
}

#videocontent p{
    width: 100%;
    text-align: center;
}

span{
    padding-right: 20px;
    font-size: 15px;
}

#p2{
    font-size: 15px;
    font-weight: 200;
}

.btn{
    font-size: 20px;
    width: 200px;
    height: 50px;
}

#mutebtn{
    color: #fff;
    position: absolute;
    right: 5%;
    bottom: 5%;
}



#epiimg{
    width: 230px;
    height: 130px;
    border-radius: 10px;
}



#epitext{
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 15px;
}

#epitext #p2{
    display: none;
}

#epitext h4{
    font-size: 20px;
}



}



@media (max-width: 619px){
    .nodisplay{
    display: block;
}
    
    #mainContainer{
        width: 100%;
        padding-bottom: 40px;
    }
    footer{
        display: none;
    }
    nav{
        height: 10%;
        position: fixed;
        bottom: 0;
        background-color: #162032;
        width: 100%;
        padding: 0;
        display: block;
        color: #fff;
        gap: 0;
    }

    #navl{
        height: 100%;
        width: 100%;
    }

   
    #navl .desk{
        display: none;
    }
    .mob{
        display: flex;
        gap: 50px;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .mob i{
        font-size: 20px;
    }

    #content{
        padding-top: 0;
    }


    #search{
        display: none;
    }

    #card{
    width: 152.5px;
    height: 250px;
    /* background-color: pink; */
    border-radius: 4px;

}


 
#seasons{
    margin-left: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

#seasons h4{
    font-size: 15px;
    color: #ccc;
    font-weight: 400;
}


#videocontent img{
    width: 200px;
}

#videocontent p{
    width: 100%;
    margin: 10px 0;

    text-align: center;
}

span{
    padding-right: 20px;
    font-size: 12px;
}

#p2{
    font-size: 15px;
    font-weight: 200;
}

.btn{
    font-size: 15px;
    width: 150px;
    height: 40px;
}

#mutebtn{
    color: #fff;
    position: absolute;
    right: 5%;
    bottom: 5%;
}



#episodes{
    /* margin-top: 50px; */
    width: 100%;
    max-height:700px ;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* overflow: scroll; */
    scrollbar-width: none;
    /* padding-top: 50px; */
    padding-bottom: 50px;
}
#epicard{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 10px;
    gap: 10px;
}

#epiimg {
    margin: 30 0px;
    width: 152.5px;
    height: 90px;
    border-radius: 10px;
}

#epiimg img{
    width: 152.5px;
    height: 90px;
    border-radius: 10px;
}

#epitext{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    /* white-space: nowrap; */
}

#epitext #p2{
    display: none;
}

#epitext h4{
    font-size: 14px;
}



}